header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .logo-container {
        background: var(--dark);
        padding: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-container {
        padding: 0 20px;
        margin-top: 80px;
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 43px;
            color: var(--dark-grey);
            
        }
        span{
            width: 100px;
            background-color: var(--dark-grey);
            height: 9px;
            margin-top: 20px;
        }
        
        p{
            margin-top: 40px;
            color: var(--dark-grey);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.6;
        }
    }
}

@media (min-width: 920px) {
    header{
        .text-container {
            padding: 0px;
        }
    }
}
